<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="hellow-world" noscript>
	<template>
    	<h1>Hello World</h1>
    </template>	
</polymer-element>

<polymer-element name="proto-element">
  <template>
    <span>I'm <b>proto-element</b>. Check out my prototype.</span>
  </template>
  <script>
    Polymer({
      ready: function() {
        //...
      }
    });
  </script>
</polymer-element>


<polymer-element name="age-slider">
  <template>
    This is <b>{{owner}}</b>'s age-slider.
    <b>{{name}}</b> lets me borrow it.
    He likes the color <span style="color: {{color}}">{{color}}</span>.
    I am <b>{{age}}</b> years old.
    	<p>
        	<label for="ageInput">Age:</label>
            <input id="ageInput" type="range" value="{{age}}">
            <label for="nameInput">Name:</label>
            <input id="nameInput" value="{{name}}" placeholder="Enter name...">
   		</p>
  </template>
  <script>
    Polymer({
		owner:"Vivek",
		name: "Daniel",
		color: "blue",
      	age: 25,
		
      nameChanged: function() {
        if (this.name) {
          // Ensure name is capitalized
          this.name = this.name[0].toUpperCase() +
                      this.name.slice(1);
        }
      }
    });
</script>
</polymer-element>